[submodule "dependencies/ocs2"]
	path = dependencies/ocs2
	url = git@github.com:lnotspotl/ocs2.git
[submodule "dependencies/ocs2_robotic_assets"]
	path = dependencies/ocs2_robotic_assets
	url = git@github.com:projectatctu/ocs2_robotic_assets.git
[submodule "dependencies/elevation_mapping"]
	path = dependencies/elevation_mapping
	url = https://github.com/ANYbotics/elevation_mapping.git
[submodule "dependencies/kindr"]
	path = dependencies/kindr
	url = https://github.com/ANYbotics/kindr.git
[submodule "dependencies/kindr_ros"]
	path = dependencies/kindr_ros
	url = https://github.com/ANYbotics/kindr_ros.git
[submodule "dependencies/grid_map"]
	path = dependencies/grid_map
	url = git@github.com:ANYbotics/grid_map.git
[submodule "dependencies/qpoases_catkin"]
	path = dependencies/qpoases_catkin
	url = git@github.com:wxmerkt/qpoases_catkin.git
[submodule "dependencies/message_logger"]
	path = dependencies/message_logger
	url = git@github.com:ANYbotics/message_logger.git
[submodule "dependencies/elevation_mapping_cupy"]
	path = dependencies/elevation_mapping_cupy
	url = git@github.com:lnotspotl/elevation_mapping_cupy.git
[submodule "dependencies/teleop_twist_keyboard"]
	path = dependencies/teleop_twist_keyboard
	url = https://github.com/ros-teleop/teleop_twist_keyboard.git
