<?xml version="1.0" encoding="utf-8"?>
<launch>
    <!-- Required arguments -->
    <arg name="controllers_ns"      default="anymal_d"/>
    <arg name="controllers_args"    default="joint_controller"/>
    <arg name="tbai_config_path"    default="$(find tbai_mpc_blind)/config/default_config.yaml"/>
    <arg name="description_name"    default="robot_description"/>
    <arg name="description_file"    default="$(find tbai_description)/urdf/anymal_d_gazebo.urdf.xacro"/>
    <!-- true if you want to control the robot with joystick/ false to control with keyboard -->
    <arg name="joystick"               default="true"/> 

    <arg name="sqp_settings_file" default="$(find tbai_mpc_blind)/config/sqp.info"/>
    <arg name="frame_declaration_file" default="$(find tbai_mpc_blind)/config/frame_declarations.info"/>
    <arg name="task_settings_file" default="$(find tbai_mpc_blind)/config/task.info"/>
    <arg name="target_command_config_file" default="$(find tbai_mpc_blind)/config/targetCommand.info"/>
    <arg name="controller_config_file" default="$(find tbai_mpc_blind)/config/controllers.info"/>

    <!-- Gazebo parameters -->
    <arg name="gui" default="false"/>
    <arg name="paused" default="false"/>
    <arg name="world" default="normal"/>
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="3.0"/>

    <!-- Joystick node -->
    <arg if="$(arg joystick)" name="joystick_dev" default="/dev/input/js0"/>
    <node if="$(arg joystick)" name="joy_node" pkg="joy" type="joy_node" output="screen">
        <param name="dev" value="$(arg joystick_dev)"/>
    </node>
    <node unless="$(arg joystick)" name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen" launch-prefix="gnome-terminal --">
    </node>


    <!-- Upload config path to ROS param server -->
    <param name="tbai_config_path" type="string" value="$(arg tbai_config_path)"/>
    <param name="sqp_settings_file" type="string" value="$(arg sqp_settings_file)"/>
    <param name="frame_declaration_file" type="string" value="$(arg frame_declaration_file)"/>
    <param name="task_settings_file" type="string" value="$(arg task_settings_file)"/>
    <param name="target_command_config_file" type="string" value="$(arg target_command_config_file)"/>
    <param name="controller_config_file" type="string" value="$(arg controller_config_file)"/>

    <!-- Launch gazebo -->
    <include file="$(find tbai_gazebo)/launch/world.launch">
        <arg name="controllers_ns" value="$(arg controllers_ns)"/>
        <arg name="controllers_args" value="$(arg controllers_args)"/>
        <arg name="config_file" value="$(arg tbai_config_path)"/>
        <arg name="description_name" value="$(arg description_name)"/>
        <arg name="description_file" value="$(arg description_file)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world" value="$(arg world)"/>
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="$(arg z)"/>
        <arg name="paused" value="$(arg paused)"/>
    </include>

    <!-- Launch simple node -->
    <node name="simple" pkg="tbai_mpc_blind" type="simple" output="screen"/>

    <!-- Launch MPC node -->
    <node pkg="tbai_mpc" type="anymal_mpc_node" name="anymal_mpc_node" output="screen"/>

    <!-- Launch Gait command node -->
    <node pkg="ocs2_anymal_commands" type="gait_command_node" name="gait_command_node"
          output="screen" launch-prefix="gnome-terminal --"/>

    <!-- Start Rviz visualizer -->
    <arg name="rvizconfig" default="$(find tbai_mpc_blind)/launch/anymal_d.rviz" />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" output="screen" />

</launch>